In [1]:
import pandas as pd

In [3]:
a = {'col1': ['a', 'b', 'c', 'd'], 'col2': [3, 4, 5, 6]}

In [10]:
df1 = pd.DataFrame(data=a)
df1['col1'] = df1['col1'].astype("category")
df1

  col1  col2
0    a     3
1    b     4
2    c     5
3    d     6

In [15]:
b = {'col1': ['b', 'd', 'c', 'a'], 'col3': [4, 6, 5, 3], 'col4': ['g', 'h', 'i', 'j']}

In [16]:
df2 = pd.DataFrame(data=b)
df2['col1'] = df2['col1'].astype("category")
df2['col4'] = df2['col4'].astype("category")
df2

  col1  col3 col4
0    b     4    g
1    d     6    h
2    c     5    i
3    a     3    j

In [19]:
test= pd.merge(df1, df2, on='col1')
test

  col1  col2  col3 col4
0    a     3     3    j
1    b     4     4    g
2    c     5     5    i
3    d     6     6    h

In [21]:
test.dtypes

col1    category
col2       int64
col3       int64
col4    category
dtype: object