In [142]:
import pandas as pd
from pathlib import Path
import statsmodels.formula.api as sm
import numpy as np

In [143]:
interim = '../data/interim'
br = pd.read_pickle(Path(interim) / 'batting_records.pkl')

In [144]:
br = br.sort_values(['BAT_ID', 'year'])
br_pred = br.loc[:, ['BAT_HAND', 'G', 'HR', 'PA']] # .groupby('BAT_ID').shift(1)
br_pred = br_pred.dropna(subset=['G'])

In [145]:
test = br_pred.head(100)

In [146]:
def marcel(ser):
    temp = test.loc[ser.index]
    
    if len(temp) == 1:
        return temp['HR'][0]*(5/12)
    if len(temp) == 2:
        return temp['HR'][1]*(5/12) + temp['HR'][0]*(4/12)
    else:
        return temp['HR'][2]*(5/12) + temp['HR'][1]*(4/12) + temp['HR'][0]*(3/12)

test.HR.rolling(3, 1).apply(marcel, raw=False)

BAT_ID    year
aardd001  2006     0.000000
          2008     0.000000
          2015     0.000000
aaroh101  1954     5.416667
          1955    14.750000
                    ...
abnes001  1987     0.833333
          1988     1.500000
          1989     2.000000
          1990     1.583333
          1991     2.083333
Name: HR, Length: 100, dtype: float64

In [173]:
def marcel2(ser):
    temp = harp.loc[ser.index]
    
    if len(temp) == 1:
        hr = temp['HR'][0]*5
        pa = temp['PA'][0]*.5 + 200
    elif len(temp) == 2:
        hr = temp['HR'][1]*5 + temp['HR'][0]*4
        pa = temp['PA'][1]*.5 + temp['PA'][0]*.1 + 200
    else:
        hr = temp['HR'][2]*5 + temp['HR'][1]*4 + temp['HR'][0]*3
        pa = temp['PA'][2]*.5 + temp['PA'][1]*.1 + 200
       
    y = temp.index.get_level_values('year')[0]
    print([y, hr, pa])
    return hr

In [174]:
harp = br_pred[br_pred.index.get_level_values('BAT_ID') == 'harpb003']

In [175]:
print(harp.groupby('BAT_ID')['HR'].rolling(3, 1).apply(marcel2, raw=False).to_string())

[2012, 110, 497.0]
[2012, 188, 506.4]
[2012, 211, 445.4]
[2013, 322, 566.2]
[2014, 327, 578.9]
[2015, 367, 508.7]
[2016, 358, 596.7]
[2017, 398, 610.5]
[2018, 307, 389.7]
BAT_ID
harpb003    110.0
harpb003    188.0
harpb003    211.0
harpb003    322.0
harpb003    327.0
harpb003    367.0
harpb003    358.0
harpb003    398.0
harpb003    307.0

In [172]:
harp

               BAT_HAND    G  HR   PA
BAT_ID   year
harpb003 2012       0.0  138  22  594
         2013       0.0  118  20  494
         2014       0.0  100  13  392
         2015       0.0  153  42  654
         2016       0.0  147  24  627
         2017       0.0  111  29  492
         2018       0.0  159  34  695
         2019       0.0  157  35  682
         2020       0.0   58  13  243