In [1]:
import pandas as pd
from pathlib import Path

In [2]:
interim = Path('../data/interim/')

In [3]:
lineup = pd.read_pickle(interim / 'lineup.pkl')

In [4]:
lineup

                              home_pitcher away_pitcher spot    BAT_ID   home  \
home_team_code away_team_code
NYY            TOR                coleg001          NaN    9  jansd001  False
               TOR                coleg001          NaN    1  biggc002  False
               TOR                coleg001          NaN    3  bichb001  False
               TOR                coleg001          NaN    4  hernt002  False
               TOR                coleg001          NaN    5  guerv002  False
...                                    ...          ...  ...       ...    ...
SEA            SF                 gonzm005     gausk001    2  frant002   True
               SF                 gonzm005     gausk001    3  seagk001   True
               SF                 gonzm005     gausk001    4  white005   True
               SF                 gonzm005     gausk001    6  moord002   True
               SF                 gonzm005     gausk001    8  fralj001   True

                                 PIT_ID OWN_PIT_ID PIT_TEAM_ID BAT_TEAM_ID  \
home_team_code away_team_code
NYY            TOR             coleg001        NaN         NYY         TOR
               TOR             coleg001        NaN         NYY         TOR
               TOR             coleg001        NaN         NYY         TOR
               TOR             coleg001        NaN         NYY         TOR
               TOR             coleg001        NaN         NYY         TOR
...                                 ...        ...         ...         ...
SEA            SF              gausk001   gonzm005          SF         SEA
               SF              gausk001   gonzm005          SF         SEA
               SF              gausk001   gonzm005          SF         SEA
               SF              gausk001   gonzm005          SF         SEA
               SF              gausk001   gonzm005          SF         SEA

                                    GAME_ID  year
home_team_code away_team_code
NYY            TOR             NYY202104010  2021
               TOR             NYY202104010  2021
               TOR             NYY202104010  2021
               TOR             NYY202104010  2021
               TOR             NYY202104010  2021
...                                     ...   ...
SEA            SF              SEA202104010  2021
               SF              SEA202104010  2021
               SF              SEA202104010  2021
               SF              SEA202104010  2021
               SF              SEA202104010  2021

[219 rows x 11 columns]

In [5]:
lineup.dtypes

home_pitcher    object
away_pitcher    object
spot            object
BAT_ID          object
home              bool
PIT_ID          object
OWN_PIT_ID      object
PIT_TEAM_ID     object
BAT_TEAM_ID     object
GAME_ID         object
year             int64
dtype: object

In [6]:
pr = pd.read_pickle(interim / 'park_records.pkl')

In [7]:
pr

            team  home_hs  home_ha  home_g  home_factor  road_ha  road_hs  \
ParkID year
ALB01  1880  TRN        0        0       1          0.0        0        0
       1881  TRN        0        0       2          0.0        0        0
       1882  TRN        0        0       4          0.0        0        0
ALT01  1884  ALT        0        0      18          0.0        0        0
ANA01  1966  CAL      624      690      81    16.222222      674      620
...          ...      ...      ...     ...          ...      ...      ...
WOR01  1880  WOR        0        0      42          0.0        0        0
       1881  WOR        0        0      42          0.0        0        0
       1882  WOR        0        0      42          0.0        0        0
WOR02  1887  WS8        0        0       1          0.0        0        0
WOR03  1874  BS1       15       19       1         34.0      382      452

             road_g  road_factor  factor_year    factor
ParkID year
ALB01  1880      42          0.0          NaN       NaN
       1881      42          0.0          NaN       NaN
       1882      43          0.0          NaN       NaN
ALT01  1884       7          0.0          NaN       NaN
ANA01  1966      81    15.975309     1.015456  1.015456
...             ...          ...          ...       ...
WOR01  1880      43          0.0          NaN       NaN
       1881      41          0.0          NaN       NaN
       1882      42          0.0          NaN       NaN
WOR02  1887      63          0.0          NaN       NaN
WOR03  1874      36    23.166667     1.467626  1.250000

[3160 rows x 11 columns]

In [8]:
l = lineup.reset_index()

In [14]:
test = pd.merge(l, pr, left_on='home_team_code', right_on='team', indicator=True, how='outer')

In [15]:
test._merge.value_counts()

both          11051
right_only     2409
left_only        61
Name: _merge, dtype: int64