In [55]:
import pandas as pd 
from pathlib import Path
from sklearn.preprocessing import (
    PolynomialFeatures,
    OneHotEncoder,
    StandardScaler,
    LabelBinarizer,
    )
from sklearn_pandas import DataFrameMapper
import numpy as np

processed = '../data/processed'
main_data = pd.read_pickle(Path(processed) / 'main_data.pkl')
main_data = main_data.dropna()

In [67]:
mapper = DataFrameMapper([
    (['spot'], OneHotEncoder(drop='first')),
    (['HPG'], StandardScaler()),
    (['HPAB_p'], StandardScaler()),
    (['factor'], StandardScaler()),
    (['year'], StandardScaler()),
    (['BAT_HAND'], None),
    (['PIT_HAND'], None),
], df_out=True)

mapper.fit_transform(main_data.copy())

,spot_x0_2,spot_x0_3,spot_x0_4,spot_x0_5,spot_x0_6,spot_x0_7,spot_x0_8,spot_x0_9,HPG,HPAB_p,factor,year,BAT_HAND,PIT_HAND
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.401799,-0.262833,0.006248,1.570527,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.043874,-0.858594,-0.879119,1.570527,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.188855,-0.333263,-0.722423,1.570527,0.0,1.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.198520,-0.909027,0.249237,1.570527,0.0,1.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.546476,-1.478365,-0.406363,1.570527,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.322477,-0.283608,-2.079394,-1.548056,0.0,1.0
446885,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.045386,-0.888601,0.398995,-1.548056,1.0,0.0
446886,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-0.000221,-0.181225,0.263285,-1.548056,1.0,1.0
446888,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.246834,-0.028103,-0.039393,-1.548056,1.0,0.0
446889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.685561,-0.678028,-1.083649,-1.548056,1.0,0.0

In [78]:

mapper = DataFrameMapper([
    (['BAT_HAND', 'PIT_HAND'], PolynomialFeatures(2, interaction_only=True)),
], df_out=True)

X = mapper.fit_transform(main_data.copy()) 
X

,BAT_HAND_PIT_HAND_1,BAT_HAND_PIT_HAND_x0,BAT_HAND_PIT_HAND_x1,BAT_HAND_PIT_HAND_x0 x1
2,1.0,0.0,1.0,0.0
3,1.0,1.0,0.0,0.0
4,1.0,0.0,1.0,0.0
5,1.0,0.0,1.0,0.0
6,1.0,0.0,1.0,0.0
...,...,...,...,...
446882,1.0,0.0,1.0,0.0
446885,1.0,1.0,0.0,0.0
446886,1.0,1.0,1.0,1.0
446888,1.0,1.0,0.0,0.0
446889,1.0,1.0,0.0,0.0